body{
background-color:#ffffff;
font-family:Arial,Verdana,Helvetica,sans-serif;
font-size:10pt;
margin:0;
padding:0;
}

img {
border:0 none;
}

#website_wrapper{
background: url(../images/back.jpg) repeat-y scroll left top #FFFFFF;
height:auto;
margin:0 auto;
padding:0 0 0px 0;
position:relative;
width:990px;
}

#logo{
background: url(../images/logo.jpg);
height:114px;
width:114px;
margin-top:10px;
margin-left:42px;
}

.links_l{
background: url(../images/bl.jpg) 0 0 no-repeat #fff;
}

.links_r{
background: url(../images/br.jpg) 100% 0 no-repeat;
padding-right: 8px;
padding-left: 8px;
}

.link_row{
background: url(../images/bot.jpg) repeat-x #fff;
height: 35px;
text-align: center;
padding-top: 3px;
}

.link_row ul{
margin: 0px;
list-style-type: none;
list-style-image: none;
height: 35px;
text-align: center;
-webkit-padding-start: 0px;
}
.link_row li.first{
background: none;
float: left;
padding-right: 8px;
text-align: center;
}
.link_row li{
background:url(../images/topnav_tableft.gif) left top no-repeat;
float: left;
height: 26px;
padding-left: 8px;
padding-right: 8px;
padding-top: 4px;
text-align: center;
}
.link_row li a{
text-align: center;
}

.blue{
color: #0000CC;
}

.blue a:link, .blue_alink{
color: #0000CC;
}

.blue a:visited, .blue_avisited{
color: #0000CC;
}

.blue a:hover, .blue a:active, .blue_ahover{
color: #7A007A;
}

.smaller{
font: 10px Arial,Verdana;
}

.secondrow{
background: url(../images/bot.jpg) repeat-x;
height: 35px;        
}
.secondrow ul{
margin: 0px;
list-style-type: none;
list-style-image: none;
height: 35px;
-webkit-padding-start: 0px;
}
.secondrow li{
background: url(../images/topnav_tableft.gif) no-repeat left top;
float: left;
margin-right: 0px;
height: 35px;
}
.secondrow li.first{
background: none;
float: left;
text-align: left;
margin-right: 0px;
height: 35px;
}
.secondrow li a{
padding: 9px;
margin-left: 2px;
width: auto;
display: block;
font: bold 13px/100% arial;
text-decoration: none;
vertical-align: middle;
color:#555;
}
.secondrow li a:hover{
text-decoration: underline;
}
.secondrow li.current{
background: url(../images/bot_current.jpg) repeat-x;
float: left;
text-align: left;
margin-right: 0px;
padding-right: 2px;
height: 35px;
width: auto;
display: block;
vertical-align: middle;
border-left: 1px solid #D0D0D0;
}
#next {
cursor:pointer;
display:none;
float:left;
margin:50px 0 0 10px;
}

#next a {
background:url(../images/arrows.gif) no-repeat scroll -32px 0 transparent;
display:block;
height:51px;
width:32px;
}

#next a:hover {
background-position:-32px -51px;
}

#prev {
cursor:pointer;
display:none;
float:left;
margin:50px 10px 0 0;
}

#prev a {
background:url(../images/arrows.gif) no-repeat scroll 0 0 transparent;
display:block;
height:51px;
width:32px;
}

#prev a:hover {
background-position:0 -51px;
}

#carousel-wrapper {
margin-top:4px;
width:100%;
}

.carousel {
float:left;
height:154px;
overflow:hidden;
width:auto;
}

.carousel ul {
height:154px;
overflow:hidden;
width:560px;
}

.carousel li {
float:left;
height:154px;
list-style-type:none;
text-align:center;
width:127px;
}

.block5 .block5-content-gray{
position: relative;
border: solid #ccc;
border-width: 0px 1px 1px 1px;
padding: 10px 10px 10px 10px;
margin: 0px;
background-color: #f8f8f8;
}
.block5 .block5-content-gray-top{
position: relative;
background-color: #E8E8E8;
border: solid #ccc;
border-width: 0px 1px 0px 1px;
padding: 10px 10px 10px 10px;
margin: 0px;
border-top: 1px;
border-bottom: 1px;
border-top-color: #cccccc;
border-bottom-color: #cccccc;
}
.block5 .block5-footer{
position: relative;
background-color: #fff;
border: 1px solid #ccc;
border-top: 0px;
}
.block5 .block5-footer .block5-left{
position: relative;
left: -2px;
height: 6px;
font-size: 0px;
background: url(../images/block5_lower_left.gif) no-repeat bottom left;
}
.block5 .block5-footer .block5-right{
position: relative;
bottom: -1px;
right: -1px;
background: url(../images/block5_lower_right.gif) no-repeat bottom right;
}
.block5 .block5-header{
position: relative;
padding: 0 6px 6px 8px;
color: #5d5d5d;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: medium;
background: #E8E8E8 url(../images/block5_header.gif) repeat-x bottom;
border-style: solid;
border-color: #cccccc #cccccc #cccccc #cccccc;
border-width: 0px 1px 1px 1px;
}
.block5 .block5-top{
position: relative; 
background-color: #E8E8E8; 
border: 1px solid #cccccc; 
border-bottom: 0px;
}
.block5 .block5-top .block5-left{
position: relative;
left: -2px;
height: 6px;
font-size: 0px;
background: url(../images/block5_upper_left.gif) no-repeat top left;
}
.block5 .block5-top .block5-right{
position: relative; 
top: -1px; 
right: -1px; 
background: url(../images/block5_upper_right.gif) no-repeat top right;
}
.block5 .block5-content{
position: relative;
background-color: #fff;
border: solid #ccc;
border-width: 0px 1px 0px 1px;
padding: 10px 10px 10px 10px;
background-color: #fff;
}
.inputcls{
background: url("txtinput.gif") repeat-x scroll left top #EEEEEE;
border-color: #5F5F5F #A6A6A6 #CDCDCD;
border-style: solid;
border-width: 1px;
font-size: 1.16em;
font-weight: bold;
line-height: 1.14em;
padding: 7px 5px 3px;
}